* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(190, 244, 249);
}

h1 {
  margin-bottom: 1em;
}

.paper {
  padding: 5em;
}

.add,
.delete {
  width: 50px;
  height: 50px;
  margin: 5px 5px;
}
.reset {
  width: 130px;
  height: 60px;
}
